In [2]:
import pandas as pd 
import numpy as np 
import tabula

Extracting household-level data from pdf. We do this page by page.

In [3]:
pdf_file = 'Cebu.Survey.Report[final].pdf'
df1 = tabula.read_pdf(pdf_file, pages = "21")
df2 = tabula.read_pdf(pdf_file, pages = "22")
df3 = tabula.read_pdf(pdf_file, pages = "23")

Got stderr: Apr 29, 2021 4:46:05 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Apr 29, 2021 4:46:05 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldItalicMT'
Apr 29, 2021 4:46:05 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'ArialMT'
Apr 29, 2021 4:46:05 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPS-BoldMT'

Got stderr: Apr 29, 2021 4:46:08 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'

Got stderr: Apr 29, 2021 4:46:11 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'

In [ ]:
def preprocess(df):

In [ ]:
tmp  = df2[2]
# remove "unnamed columns"
cols = tmp.columns[~tmp.columns.str.contains('Unnamed')]
tmp =tmp[cols].dropna()
tmp[tmp.iloc[:,0].str.contains('H/')]

Reconstructing the table

In [ ]:
d1[]

In [46]:
# remove second column strings that do not have H/H
# get relevant df only

    /H/12    5    2   1.  1.25    0  2.75   7.5  1.0  1,070
0   /H/13  6.0  1.9  0.0  2.00  0.0  0.75   5.1  0.7    740
1   /H/14  2.0  2.3  0.1  1.15  0.0  0.00   3.6  0.5    520
2   /H/15  1.0  1.7  0.6  0.65  0.2  0.75   4.0  0.5    580
3   /H/16  7.0  7.7  0.2  0.80  0.0  0.80   9.6  1.3  1,370
4   /H/17  4.0  1.2  0.8  0.50  0.0  0.85   3.4  0.4    490
6   /H/19  2.0  1.5  0.7  1.25  0.0  0.25   3.7  0.5    540
7   /H/20  8.0  6.2  0.7  0.50  0.0  2.75  10.2  1.4  1,460
11   /H/1  1.0  2.5  0.2  0.25  0.7  4.25   8.0  1.1  1,140
12   /H/2  2.0  3.5  0.7  0.90  0.0  4.75   9.9  1.4  1,410
13   /H/3  1.0  3.3  0.2  1.75  0.2  1.25   6.8  0.9    980
14   /H/4  7.0  2.6  0.2  1.65  0.0  2.25   6.8  0.9    970
16   /H/6  9.0  3.7  0.6  3.50  0.5  2.00  10.0  1.4  1,490
17   /H/7  7.0  1.5  0.2  2.15  0.2  2.75   6.9  0.9    990
18   /H/8  5.0  3.0  1.2  0.25  0.2  0.85   5.6  0.8    800
20  /H/10  6.0  3.8  0.4  0.65  0.2  0.85   6.0  0.8    860
24   /H/1  4.0  2.1  0.6  0.65  0.0  2.45   5.9  0.8    840
25   /H/2  6.0  1.7  0.4  0.75  0.0  2.25   5.2  0.7    740
26   /H/3  1.0  1.8  0.7  0.45  0.0  2.25   5.3  0.7    760
27   /H/4  5.0  4.0  0.2  0.35  0.0  3.25   7.8  1.1  1,120
28   /H/5  6.0  1.6  0.2  1.00  0.0  2.00   4.9  0.7    700
29   /H/6  3.0  4.1  0.2  1.00  0.0  1.25   6.6  0.9    950
30   /H/7  4.0  1.6  0.0  0.45  0.0  1.75   4.3  0.6    620
31   /H/8  6.0  4.1  0.2  1.15  0.0  1.75   7.3  1.0  1,040
32   /H/9  4.0  1.7  0.7  0.85  0.0  4.35   7.7  1.1  1,100
34  /H/11  3.0  2.0  0.2  0.80  0.0  1.50   4.5  0.6    650
35  /H/12  4.0  2.1  0.6  0.15  0.0  3.75   6.7  0.9    960
37  /H/14  4.0  2.6  0.2  0.65  0.0  0.25   3.8  0.5    540
38  /H/15  2.0  1.5  0.1  0.85  0.0  3.75   6.2  0.8    890
39  /H/16  5.0  3.2  0.0  1.35  0.0  2.00   7.1  1.0  1,010
40  /H/17  6.0  4.0  0.0  0.50  0.0  3.75   8.7  1.2  1,250
41  /H/18  2.0  2.7  0.8  0.85  0.0  1.25   5.7  0.8    810
42  /H/19  2.0  3.0  0.1  0.75  0.0  3.50   7.4  1.0  1,060
43  /H/20  1.0  1.7  0.0  0.80  0.0  0.75   3.4  0.4    490
47   /H/1  3.0  1.0  7.0  9.00  0.0  9.00  41.0  5.9  5,930
52   /H/6  3.0  9.5  3.0  1.50  0.0  0.00  14.0  2.0  2,070
56  /H/10  6.0  1.0  3.0  1.00  0.5  4.00   2.0  2.8  2,860

In [19]:
df1[2].columns

Index(['Unnamed: 0', 'Capital Site', 'Unnamed: 1', 'Unnamed: 2', '/H/members',
       'Unnamed: 3', 'Unnamed: 4', 'Organi', 'Unnamed: 5', 'Unnamed: 6',
       'Paper', 'Unnamed: 7', 'Unnamed: 8', 'lastic', 'Unnamed: 9',
       'Unnamed: 10', 'eta', 'Unnamed: 11', 'Unnamed: 12', 'thers',
       'Unnamed: 13', 'Unnamed: 14', 'otal (Kg)', 'Unnamed: 15', 'Unnamed: 16',
       'v.Kg/per Day', 'Unnamed: 17', 'Unnamed: 18', 'v.g/per Day',
       'Unnamed: 19'],
      dtype='object')